:root {
  --main-background-color: #a95e1f;
  --main-: #653024;
  --main-form-color: #f5deb3;
  --main-: #a95e1f;
}

body {
  position: relative;
  background-color: var(--main-background-color);
}

li {
  float: left;
  display: block;
  border: solid 0.1rem black;
  border-collapse: collapse;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  list-style-type: none;
}

img {
  margin: 0.1rem;
}
li > a {
  text-decoration: none;
  color: black;
}

.menu > li:active {
  border: solid 0.1rem black;
  background-color: blue;
}

.menu > li:hover {
  border: solid 0.1rem black;
  background-color: var(--main-background-color);
}
